body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hero-section {
    background-image: url('https://t3.ftcdn.net/jpg/00/29/13/38/360_F_29133877_bfA2n7cWV53fto2BomyZ6pyRujJTBwjd.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#romegardens {
    color: white;
}

#motto{
    color: white;
}

#booking{
    color: white;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

h1, h2 {
    color: #333;
}

h3 {
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    color: #555;
}

form {
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#guestList {
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background: #333;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #e58f8f;
}

section {
    margin-bottom: 20px;
}

h4 {
    margin-top: 40px;
    text-align: center;
    color: #333;
}
